@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?stjrzq');
  src:  url('../fonts/icomoon.eot?stjrzq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?stjrzq') format('truetype'),
    url('../fonts/icomoon.woff?stjrzq') format('woff'),
    url('../fonts/icomoon.svg?stjrzq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google_plus:before {
  content: "\e900";
  margin-top: 3px;
}
.icon-dribbble:before {
  content: "\eaa7";
}
