@import "~normalize.css";
@import "../icons/scss/fontawesome.scss";
@import "../icons/scss/brands.scss";
@import "../icons/scss/regular.scss";
@import "../icons/scss/solid.scss";
@import "../icons/scss/iconfonts.scss";
@import "../vendor/fonts/fonts.scss";

body {
  font-weight: 400;
  font-family: "Lato";
}

.wrapper {
  display: flex;
  min-height: 100%;
	max-width: 1020px;
  overflow: hidden;
  flex-direction: column;
	margin: 0 auto;
	align-items: center;
}

