@import "../../../styles/variables.scss";

.contact{
	padding: 40px 0 60px;
	background-color: #ECF0F1;
	@media (max-width: 767px) {
		padding: 20px 0 30px;
	}

	.contact__title{}

	.contact__subtitle{
		margin: 15px 0 43px;
		@media (max-width: 767px) {
			margin: 15px 0 33px;
		}
	}

	.contact__form{
		display: flex;
		justify-content: center;
		column-gap: 17px;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
}

.form{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 17px;
	color: #999999;
	width: 100%;

	
	.form__contacts{
		display: flex;
		column-gap: 16px;
		margin-bottom: 20px;
		justify-content: space-between;
		@media (max-width: 745px) {
			margin: 0 20px 20px;
		}
		@media (max-width: 500px) {
			flex-direction: column;
			row-gap: 20px;
			align-items: center;
			margin: 0 30px 20px;
		}
	}

	.form__name{
		min-width: 180px;
		min-height: 46px;
		padding: 0 0 0 20px;
		border: 2px solid #BEC3C7;
		@media (max-width: 950px) {
			min-width: none;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.form__text{
		border: 2px solid #BEC3C7;
		padding: 16px 0 0 15px;
		min-height: 153px;
		@media (max-width: 767px) {
			margin: 0 20px;
		}
	}
	
	.form__btn{
		margin-top: 21px;
		width: 114px;
		min-height: 37px;
		text-transform: uppercase;
		border: none;
		background-color: $active-color;
		color: $light-color;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 1.3px;
		align-self: flex-end;
		cursor: pointer;
		@media (max-width: 767px) {
			margin-right: 20px;
		}
	}

}

.map{

	.map__address{
		margin: 0 0 13px;
	}

	.map__container{
		width: 456px;
		height: 265px;
		@media (max-width: 767px) {
			width: calc(100% - 10px);
		}
	}
	@media (max-width: 767px) {
		margin: 20px 20px 0;
	}
}

.fa-location-dot::before{
	margin-right: 5px;
}