@import "../../styles/variables.scss";

a{
	text-decoration: none;
}

.header {
	width: 100%;
	min-height: 95px;
	background-color: $light-color;

	.header__row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		min-height: 47px;
		align-items: center;
		padding: 26px 0 22px 0;
		@media (max-width: 767px){
			margin: 0 20px;
		}
	}

	.header__logo-group{
		display: flex;
	}

	.header__logo {
		width: 49px;
		height: 47px;
		margin-right: 13px;
		

	}

	.header__logo-text{
		color: $primary-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
    align-items: flex-start;
	}

	.header__logo-title{
		margin: 0;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		display: flex;
		align-items: flex-end;
	}

	.header__logo-subtitle{
		margin: 0;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		align-items: flex-end;
	}

	.header__menu {
		color: $primary-color;
	}
}


.menu {
	
	.menu__icon {
		display: none;
		@media (max-width: 767px) {
			z-index: 5;
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;
		}
		&::after,
		&::before, 
		span {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: $primary-color;
		}

		&::after,
		&::before{
			content: '';
		}

		&::before{
			top: 0;	
		}

		&::after{
			bottom: 0;
		}

		span{
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
	}

	.menu__body {
		@media (max-width: 767px) {
			position: fixed;
			top: 0;
			right: -100%;
			width: 50%;
			height: 100%;
			background-color: $light-color;
			// padding: ;
			transition: right 0.3s ease 0s;
			z-index: 4;
		}
	}

	.menu__body._active{
		right: 0;
	}

	.menu__list > li {
		position: relative;
		@media (max-width: 767px){
			margin-bottom: 30px;
		}
	}

	.menu__list > li:last-child {
		margin-bottom: 0;
	}

	.menu__list {
		list-style-type: none;
		padding: 0;
		
		@media (min-width: 767px) {
			display: flex;
			align-items: center;
		}
		@media (max-width: 767px) {
			margin-top: 90px;
		}
	}

	.menu__link {
		font-size: 14px;
		line-height: 17px;
		color: $primary-color;
		margin: 0 15px 0 15px;
		cursor: pointer;
		&:hover{
			background: $active-color;
			color: $light-color;
			padding: 13px 13px;
			margin: 0 2px 0 2px;
		}
		@media (max-width: 767px){
			font-size: 18px;
			line-height: 20px;
			&:hover{
				background: none;
				color: $primary-color;
				border-bottom: 2px solid $active-color;
				padding: 6px 13px;
			}
		}
	}
}
.icon-menu {}

.jumbotron{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../../image/jumbotron.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 456px;
	margin: 0 auto;
	@media (max-width: 767px) {
		// background-size: cover;
	}

	.jumbotron__title{
		font-size: 55px;
		font-weight: 300;
		color: $light-color;
		text-align: center;
		margin: 79px 0 40px;
		@media (max-width: 767px) {
			font-size: 35px;
		}
	}

	.jumbotron__text{
		font-weight: 300;
		max-width: 580px;
		font-size: 18px;
		line-height: 24px;
		color: $light-color;
		text-align: center;
		margin: 0;
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 18px;
			max-width: 280px;
		}
	}

	.jumbotron__btn{
		width: 122px;
		height: 37px;
		font-size: 13px;
		letter-spacing: 1px;
		font-weight: 700;
		background-color: $active-color;
		border: none;
		color: $light-color;
		margin: 44px 0 42px;
		cursor: pointer;
		@media (max-width: 767px) {
			font-size: 14px;
		}
		a{
			color: $light-color;
		}
	}

	span {
		color: $light-color;
		font-size: 43px;
		cursor: pointer;
	}
}